<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
}


/* nav */
nav {
    background: rgba(36, 17, 75, 0.9);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.head {
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    color: aquamarine;
}

nav ul {
    float: right;
    color: white;

}

nav ul li {
    display: inline-block;
    line-height: 10px;
    margin: 0 5px;
    color: white;
}

nav ul li a {
    position: relative;
    top: 25px;
    font-size: 15px;
    padding: 7px 1px;
    text-transform: uppercase;
    color: white;
    margin: 5px;
}

a.active {
    background: linear-gradient(to right, #593ab0, #ca0f9b);
    transition: 0.5s;
    border-radius: 5px;
    padding: 2px;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}




/* navbar */
#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 40%;
        height: 40vh;
        background: rgba(36, 17, 75, 0.9);
        top: 90px;
        right: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 40px;
        line-height: 10px;
    }

    nav ul li a {
        font-size: 20px;

    }


    a:hover,
    a.active {
        background: none;
        color: rgb(225, 99, 204);
    }

    #check:checked~ul {
        right: 0;
    }

    section {
        padding: 80px 80px;
    }

}



@media (min-width: 1300px) {
    .cover {
        width: 600px;
    }
}

.parent::after {
    content: "";
    display: table;
    clear: both;
}






/* about */
.social-icons i {
    margin: 20px;
    font-size: 30px;
    color: rgb(225, 99, 204);
    transition: font-size 0.3s ease;
}

.social-icons i:hover {
    cursor: pointer;
    box-shadow:
        -2px -2px 5px rgba(223, 205, 223, 0.7),
        2px -2px 5px rgba(223, 205, 223, 0.7),
        -2px 2px 5px rgba(223, 205, 223, 0.7),
        2px 2px 5px rgba(223, 205, 223, 0.7);
}

.get-Info {
    display: flex;
    flex-direction: row;
}

.get-Info div {
    background: linear-gradient(to right, #593ab0, #ca0f9b);
    color: white;
    border: 1px solid pink;
    border-radius: 15px;
    margin: 5px 20px;
    transition: font-size 0.3s ease;
    font-size: small;
}

.get-Info div:hover {
    cursor: pointer;
    box-shadow:
        -2px -2px 5px rgba(223, 205, 223, 0.7),
        2px -2px 5px rgba(223, 205, 223, 0.7),
        -2px 2px 5px rgba(223, 205, 223, 0.7),
        2px 2px 5px rgba(223, 205, 223, 0.7);

}

.get-Info a:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.get-Info i {
    color: white;
    font-size: 12px;

}


#myPic {
    max-width: 400px;
    height: 400px;
}

@media (max-width: 600px) {
    #myPic {
        width: 90%;
        height: auto;
    }

    .head {
        font-size: 25px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
        color: aquamarine;
    }

    .social-icons i {

        font-size: 30px;

    }

    .get-Info div {
        width: 100px;
        height: 80px;
    }

}




.aboutSection {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: initial;
    justify-content: center;
    align-items: center;
}

.aboutMe {
    height: auto;
    width: auto;
    margin: 10px;
}

.toCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}




/* section */
section {
    padding: 80px 40px;
    background: radial-gradient(circle, #0f0232, #04000c);
    box-shadow:
        -2px -1px 2px rgba(223, 205, 223, 0.7),
        2px -1px 2px rgba(121, 28, 92, 0.7);
    border: 2px solid black;
    color: white
}

.section h1 {
    margin-top: 10px;
}

html {
    scroll-behavior: smooth;
}

.section div {
    padding: 20px;
}




/* projects */
h2 {
    color: aquamarine;
}

.project {
    border: 1px solid pink;
    margin: 20px;
    height: auto;
    width: auto;
}

h3 {
    color: rgb(185, 70, 160);
}

.project p {
    margin: 10px;

}

.project li {
    margin-left: 50px;

}

.allProjects {
    transition: font-size 0.3s ease;
    display: flex;
    flex-wrap: wrap;
}

.cover :hover {
    background: rgba(36, 17, 75, 0.9);

}

/* .cover {
    display: flex;
    flex-wrap: wrap;

} */

.cover {
    display: flex;
    flex-direction: column; 
}

.project a{
    text-decoration: underline;
    color: white;
}



/* skills */
.allSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* .allProjects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
} */

.skillSection {
    background-color: transparent;
    height: 150px;
    width: 150px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 600;
    border: 1px solid pink;

}

.skillSection:hover {
    box-shadow:
        -2px -2px 5px rgba(223, 205, 223, 0.7),
        2px -2px 5px rgba(223, 205, 223, 0.7),
        -2px 2px 5px rgba(223, 205, 223, 0.7),
        2px 2px 5px rgba(223, 205, 223, 0.7);
    background: rgba(36, 17, 75, 0.9);
}

.skillIcons {
    height: 50px;
    width: 50px;
}





/* education */
.Degree {
    border: 1px solid pink;
}






/*contact */

.contactMe {
    border: 0.2px solid pink;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.contactMe:hover {
    box-shadow:
        -2px -2px 5px rgba(223, 205, 223, 0.7),
        2px -2px 5px rgba(223, 205, 223, 0.7),
        -2px 2px 5px rgba(223, 205, 223, 0.7),
        2px 2px 5px rgba(223, 205, 223, 0.7);
}

#name,
#email {
    width: 50%;
    border-radius: 5px;
    box-shadow:
        -2px -1px 1px rgba(223, 205, 223, 0.7),
        2px -1px 1px rgba(121, 28, 92, 0.7);
    height: 30px;
    background-color:transparent;
    color: white;

}

#message {
    width: 90%;
    height: 100px;
    border-radius: 5px;
    box-shadow:
        -2px -1px 1px rgba(223, 205, 223, 0.7),
        2px -1px 1px rgba(121, 28, 92, 0.7);
    background-color: transparent;
    color: white;
}

.input {
    margin: 5px 20px 20px 20px;
    padding: 10px;
}

button {
    color: white;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(to right, #593ab0, #ca0f9b);
    width: 150px;
    align-self: center;
}

button i {
    margin: 4px;
}


#emailAdd {
    background: rgba(36, 17, 75, 0.9);
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#location {
    background: rgba(36, 17, 75, 0.9);
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 0;
    padding: 0;
}





/* footer */
.getUp {
    height: 50px;
    width: 50px;
    background: linear-gradient(to right, #593ab0, #ca0f9b);
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    color: white;
}

.getUp:hover {
    box-shadow:
        -2px -2px 5px rgba(223, 205, 223, 0.7),
        2px -2px 5px rgba(223, 205, 223, 0.7),
        -2px 2px 5px rgba(223, 205, 223, 0.7),
        2px 2px 5px rgba(223, 205, 223, 0.7);
=======
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
}


/* nav */
nav {
    background: rgba(36, 17, 75, 0.9);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.head {
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    color: aquamarine;
}

nav ul {
    float: right;
    color: white;

}

nav ul li {
    display: inline-block;
    line-height: 10px;
    margin: 0 5px;
    color: white;
}

nav ul li a {
    position: relative;
    top: 25px;
    font-size: 15px;
    padding: 7px 1px;
    text-transform: uppercase;
    color: white;
    margin: 5px;
}

a.active {
    background: linear-gradient(to right, #593ab0, #ca0f9b);
    transition: 0.5s;
    border-radius: 5px;
    padding: 2px;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}




/* navbar */
#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 40%;
        height: 40vh;
        background: rgba(36, 17, 75, 0.9);
        top: 90px;
        right: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 40px;
        line-height: 10px;
    }

    nav ul li a {
        font-size: 20px;

    }


    a:hover,
    a.active {
        background: none;
        color: rgb(225, 99, 204);
    }

    #check:checked~ul {
        right: 0;
    }

    section {
        padding: 80px 80px;
    }

}



@media (min-width: 1300px) {
    .cover {
        width: 600px;
    }
}

.parent::after {
    content: "";
    display: table;
    clear: both;
}






/* about */
.social-icons i {
    margin: 20px;
    font-size: 30px;
    color: rgb(225, 99, 204);
    transition: font-size 0.3s ease;
}

.social-icons i:hover {
    cursor: pointer;
    box-shadow:
        -2px -2px 5px rgba(223, 205, 223, 0.7),
        2px -2px 5px rgba(223, 205, 223, 0.7),
        -2px 2px 5px rgba(223, 205, 223, 0.7),
        2px 2px 5px rgba(223, 205, 223, 0.7);
}

.get-Info {
    display: flex;
    flex-direction: row;
}

.get-Info div {
    background: linear-gradient(to right, #593ab0, #ca0f9b);
    color: white;
    border: 1px solid pink;
    border-radius: 15px;
    margin: 5px 20px;
    transition: font-size 0.3s ease;
    font-size: small;
}

.get-Info div:hover {
    cursor: pointer;
    box-shadow:
        -2px -2px 5px rgba(223, 205, 223, 0.7),
        2px -2px 5px rgba(223, 205, 223, 0.7),
        -2px 2px 5px rgba(223, 205, 223, 0.7),
        2px 2px 5px rgba(223, 205, 223, 0.7);

}

.get-Info a:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.get-Info i {
    color: white;
    font-size: 12px;

}


#myPic {
    max-width: 400px;
    height: 400px;
}

@media (max-width: 600px) {
    #myPic {
        width: 90%;
        height: auto;
    }

    .head {
        font-size: 25px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
        color: aquamarine;
    }

    .social-icons i {

        font-size: 30px;

    }

    .get-Info div {
        width: 100px;
        height: 80px;
    }

}




.aboutSection {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: initial;
    justify-content: center;
    align-items: center;
}

.aboutMe {
    height: auto;
    width: auto;
    margin: 10px;
}

.toCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}




/* section */
section {
    padding: 80px 40px;
    background: radial-gradient(circle, #0f0232, #04000c);
    box-shadow:
        -2px -1px 2px rgba(223, 205, 223, 0.7),
        2px -1px 2px rgba(121, 28, 92, 0.7);
    border: 2px solid black;
    color: white
}

.section h1 {
    margin-top: 10px;
}

html {
    scroll-behavior: smooth;
}

.section div {
    padding: 20px;
}




/* projects */
h2 {
    color: aquamarine;
}

.project {
    border: 1px solid pink;
    margin: 20px;
    height: auto;
    width: auto;
}

h3 {
    color: rgb(185, 70, 160);
}

.project p {
    margin: 10px;

}

.project li {
    margin-left: 50px;

}

.allProjects {
    transition: font-size 0.3s ease;
    display: flex;
    flex-wrap: wrap;
}

.cover :hover {
    background: rgba(36, 17, 75, 0.9);

}

.cover {
    display: flex;
    flex-wrap: wrap;

}
.project a{
    text-decoration: underline;
    color: white;
}



/* skills */
.allSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skillSection {
    background-color: transparent;
    height: 150px;
    width: 150px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 600;
    border: 1px solid pink;

}

.skillSection:hover {
    box-shadow:
        -2px -2px 5px rgba(223, 205, 223, 0.7),
        2px -2px 5px rgba(223, 205, 223, 0.7),
        -2px 2px 5px rgba(223, 205, 223, 0.7),
        2px 2px 5px rgba(223, 205, 223, 0.7);
    background: rgba(36, 17, 75, 0.9);
}

.skillIcons {
    height: 50px;
    width: 50px;
}





/* education */
.Degree {
    border: 1px solid pink;
}






/*contact */

.contactMe {
    border: 0.2px solid pink;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.contactMe:hover {
    box-shadow:
        -2px -2px 5px rgba(223, 205, 223, 0.7),
        2px -2px 5px rgba(223, 205, 223, 0.7),
        -2px 2px 5px rgba(223, 205, 223, 0.7),
        2px 2px 5px rgba(223, 205, 223, 0.7);
}

#name,
#email {
    width: 50%;
    border-radius: 5px;
    box-shadow:
        -2px -1px 1px rgba(223, 205, 223, 0.7),
        2px -1px 1px rgba(121, 28, 92, 0.7);
    height: 30px;
    background-color:transparent;
    color: white;

}

#message {
    width: 90%;
    height: 100px;
    border-radius: 5px;
    box-shadow:
        -2px -1px 1px rgba(223, 205, 223, 0.7),
        2px -1px 1px rgba(121, 28, 92, 0.7);
    background-color: transparent;
    color: white;
}

.input {
    margin: 5px 20px 20px 20px;
    padding: 10px;
}

button {
    color: white;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(to right, #593ab0, #ca0f9b);
    width: 150px;
    align-self: center;
}

button i {
    margin: 4px;
}


#emailAdd {
    background: rgba(36, 17, 75, 0.9);
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#location {
    background: rgba(36, 17, 75, 0.9);
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 0;
    padding: 0;
}





/* footer */
.getUp {
    height: 50px;
    width: 50px;
    background: linear-gradient(to right, #593ab0, #ca0f9b);
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    color: white;
}

.getUp:hover {
    box-shadow:
        -2px -2px 5px rgba(223, 205, 223, 0.7),
        2px -2px 5px rgba(223, 205, 223, 0.7),
        -2px 2px 5px rgba(223, 205, 223, 0.7),
        2px 2px 5px rgba(223, 205, 223, 0.7);
>>>>>>> f256ac5172d87e51101f23dcb0d2ce2a975c5fe2
}